{% extends 'base.html.twig' %}

{% block title %}Inscrption{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>Libelle</th>
            <th>Service</th>
            <th>Specialite</th>
             <th colsan="2">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for afs in specialite %}
        <tr>
            
            <td>{{afs.libelle}}</td>
            <td>{{afs.service.libelle}}</td>
            <td>{% for afs1 in afs.medcin %} {{afs1.prenom}}{% endfor %}</td>
            <td><a name="" id="" class="btn btn-primary" href="{{ path("editp", {'id':afs.id}) }}" role="button">Editer</a></td>
            <td>
        <form methode="post" action="{{ path("supp", {'id':afs.id}) }}" style="display:inline-block"
        onsubmit="return confirm('Vouler-Vous Vraiment supprimer')">
          <input type="hidden" class="form-control" name="_method" value="DELETE" >
           <input type="hidden" class="form-control" name="_token" value="{{csrf_token('delete' ~ afs.id)}}" >
        <button class="btn btn-danger">Supprimer</button>
        
            
            </form>
            
        </tr>
         {% endfor %}
    </tbody>
</table>
{% endblock %}
